<ul class="clearfix">
    <li>
      <a href="https://www.facebook.com/Momosale-108323217400350" target="_blank">
        <img src="{{ 'fbicon.png' | asset_url }}" height="30" width="30">
      </a>
    </li>
    <li class="tw">
      <a href="https://twitter.com/momosale" target="_blank">
        <img src="{{ 'twicon.png' | asset_url }}" height="30" width="30">
      </a>
    </li>
    <li>
      <a href="http://instagram.com/momosale_official" target="_blank">
        <img src="{{ 'igicon2018.png' | asset_url }}" height="30" width="30">
      </a>
    </li>
</ul>