{%- liquid
    if use_variant
      assign target = product_card_product.selected_or_first_available_variant
    else
      assign target = product_card_product
    endif
    assign price = target.price | default: 1999
    assign money_price = price | money
    if settings.currency_code_enabled
      assign money_price = price | money_with_currency
    endif
  -%}

<li>
    <div class="itemImg">
        <a href="{{ product_card_product.url | default: '#' }}">
            <img src="{{ product_card_product.featured_media | img_url: '640x640' }}">
        </a>
    </div>
    <div class="itemTitle related-text crim">
        {{ product_card_product.title }}
    </div>
    <div class="itemPrice crim">
        {{ money_price }}
    </div>
</li>