<section id="mainContent" class="wrapper clearfix index">
  <div class="ItemListInner crim">
    <div class="item">
      <div class="itemImg">
        <a href="#">
          <img src="https://static.thebase.in/img/apps/itemlabel/Ribbon_sale_rd.png" class="label_image list">  
          <div class="itemThumbImg">
            <img src="https://baseec-img-mng.akamaized.net/images/item/origin/041863dcc9b6c07c64f02c7633785d5f.jpg?imformat=generic&q=90&im=Resize,width=640,type=normal" alt="★購入条件あり★【トップス】ストリート系ファッションプリント長袖Tシャツ33021939" title="★購入条件あり★【トップス】ストリート系ファッションプリント長袖Tシャツ33021939" class="image-resize">
          </div>
        </a>
      </div>
      <a href="https://www.momosale.com/items/33021939">
        <div class="itemTitle crim">
          <h2>★購入条件あり★【トップス】ストリート系ファッションプリント長袖Tシャツ33021939</h2>
        </div>
        <ul class="itemDetail">
          <li class="itemPrice crim">
            <div class="sale">¥999</div>
            <div class="discount">50%OFF</div>
          </li>
        </ul>
        <ul class="itemDetail">
          <li class="itemPrice crim">
            <div>¥66</div>
          </li>
        </ul>
      </a>
    </div>
  </div>
</section>