{%- if section.settings.collection.products.size > 0 -%}
{%- paginate section.settings.collection.products by section.settings.products_per_page -%}
<section id="mainContent" class="wrapper clearfix index">
  {% assign start = paginate.current_page | minus: 1 %}
  {% assign product_start = start | times: section.settings.products_per_page  %}

  <div class="ItemListInner crim">
    {%- for product in section.settings.collection.products offset:product_start limit: section.settings.products_per_page -%}
    {% render 'main-product-card',
      product_card_product: product
    %}
    {%- endfor -%}
  </div>

</section>
{%- if paginate.pages > 1 -%}
      {% render 'paginate', paginate: paginate, anchor: '#mainContent' %}
{%- endif -%}
{%- endpaginate -%}
{%- endif -%}

{% schema %}
{
    "name": "t:sections.index_home.name",
    "settings": 
    [
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.index_home.settings.collection.label"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "min": 6,
        "max": 60,
        "step": 1,
        "default": 6,
        "label": "t:sections.index_home.settings.products_per_page.label"
      }
	  ]
  }
{% endschema %}