@charset "UTF-8";
	body {
	font-size:11px;
	line-height:1.8
}
select {
	padding:4px 30px 4px 8px
}
input,label,select,textarea {
	font-family:inherit;
	font-size:100%;
	margin-bottom:0;
	margin-top:0;
	padding-bottom:0;
	padding-top:0;
	vertical-align:middle
}
input,select,textarea {
	background-color:#fff;
	border:1px solid #d3dae4;
	border-radius:4px;
	box-shadow:none;
	box-sizing:border-box;
	font-size:14px!important;
	line-height:17px;
	padding:4px 8px;
	text-align:left;
	width:100%
}
textarea {
	padding:5px;
	text-align:left
}
input[type=email],input[type=number],input[type=text],select,textarea {
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none
}
input[type=file] {
	-moz-appearance:inherit;
	-webkit-appearance:inherit;
	appearance:inherit;
	cursor:pointer
}
input[type=date] {
	-moz-appearance:select;
	-webkit-appearance:select;
	appearance:select;
	cursor:pointer
}
input[readonly=readonly] {
	background-color:#fff
}
textarea {
	overflow:auto
}
.minus {
	color:#e95f5b
}
.mt15 {
	margin-top:15px
}
.mb10 {
	margin-bottom:10px
}
.clearfix {
	zoom:1
}
.clearfix:after {
	clear:both;
	content:"";
	display:block
}
.motion {
	transition-duration:.2s
}
.sMotion {
	transition-duration:.5s
}
.wrap {
	padding:15px
}
.wrap .title {
	font-size:14px;
	margin:15px 0 10px;
	text-align:center
}
.wrap .text {
	font-size:14px
}
.wrap .center {
	text-align:center
}
.wrapper {
	position:relative;
	width:100%
}
.caption {
	font-size:12px;
	font-weight:700
}
.tag {
	font-size:9px;
	font-weight:700
}
.number {
	text-align:left
}
.text {
	line-height:1.5
}
.link.caution {
	color:#e95f5b
}
.link,.text a {
	color:#229696;
	font-weight:700
}
.text .emphasis,.text.emphasis {
	font-weight:700
}
.text.notice {
	color:#e95f5b
}
.error-message {
	color:#e95f5b;
	font-weight:700
}
.error-message a {
	color:#e95f5b;
	text-decoration:underline
}
.textLeft {
	text-align:left
}
.textCenter {
	text-align:center
}
.textRight {
	text-align:right
}
.textAbbr {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.boxLeft {
	float:left!important
}
.boxCenter {
	display:block;
	margin:0 auto
}
.boxRight {
	float:right!important
}
.abRight {
	position:absolute;
	right:0
}
.mt10 {
	margin-top:10px
}
.mt20 {
	margin-top:20px
}
.mt30 {
	margin-top:30px
}
.mb10 {
	margin-bottom:10px
}
.mb20 {
	margin-bottom:20px
}
.mb30 {
	margin-bottom:30px
}
.pb30 {
	padding-bottom:30px
}
.coverImg {
	background-position:center center;
	background-size:cover;
	position:relative;
	width:100%
}
button.simple {
	background-color:#00c7b6;
	border:0;
	border-radius:3px;
	color:#fff;
	font-size:9px;
	font-weight:700;
	position:relative;
	width:100%
}
button.simple.caution {
	background-color:#e95f5b;
	color:#fff
}
.mb15 {
	margin-bottom:15px
}
.w100p {
	width:100%
}
.btnBase {
	-moz-appearance:button;
	appearance:button;
	background-color:#00c7b6;
	border:none;
	border-radius:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	font-weight:700;
	letter-spacing:1px;
	line-height:1.7;
	margin:0;
	padding:5px 12px;
	position:relative;
	text-align:center;
	text-decoration:none;
	text-shadow:none;
	vertical-align:middle
}
input.btnBase {
	-webkit-appearance:button
}
.btnBase:hover {
	color:#fff;
	-webkit-opacity:.9;
	opacity:.9;
	text-decoration:none
}
.btnBase.noHvr:hover {
	-webkit-opacity:inherit;
	opacity:inherit
}
.btnBase.pop {
	box-shadow:0 5px 0 #00a294
}
.btnBase.real {
	box-shadow:0 0 3px rgba(0,0,0,.2),inset 0 1px 1px #90e8d2
}
.btnBase.real.cancel {
	box-shadow:0 0 3px rgba(0,0,0,.2),inset 0 1px 1px #bebebe
}
.btnBase.real.danger {
	background-color:#ec7063;
	box-shadow:0 0 3px rgba(0,0,0,.2),inset 0 1px 1px #ffafaf
}
.btnBase.large {
	font-weight:700;
	padding:15px 22px
}
.btnBase.inputAdjust {
	line-height:54px;
	padding:0
}
.btnBase.applicationBtn {
	box-shadow:none;
	margin-top:18px
}
.btnBase.cancel,.btnBase.disabled {
	background-color:#ccc;
	color:#6c6c6c
}
.btnBase.caution {
	background-color:#e95f5b;
	color:#fff
}
.btns .btnBase {
	margin:0 0 15px
}
.btns .btnBase:last-child {
	margin:0
}
.btns.col2>.col {
	float:left;
	margin-bottom:0;
	margin-right:1%;
	width:49%
}
.btns.col2>.col:last-child {
	margin-left:1%;
	margin-right:0
}
.btns.row2>.row:first-child {
	margin:0 0 10px
}
i.menuSwitchBtn {
	border:2px solid #191919;
	border-radius:3px;
	content:"";
	cursor:pointer;
	display:block;
	height:25px;
	position:relative;
	width:25px
}
i.menuSwitchBtn:after {
	border:6px solid transparent;
	border-top:6px solid #191919;
	content:"";
	height:0;
	left:7px;
	position:absolute;
	top:10px;
	width:0
}
.active>i.menuSwitchBtn:after {
	top:3px;
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}
.base {
	position:relative
}
.l_line {
	position:relative;
	width:100%
}
.l_line.col>.c {
	float:left
}
.l_line.col.two>.c {
	width:50%
}
.l_line.col.three>.c {
	width:34%
}
.l_line.col.three>.c:first-child,.l_line.col.three>.c:last-child {
	width:33%
}
.l_line.col.four>.c {
	width:25%
}
.l_line.col.five>.c {
	width:20%
}
.l_simpleList {
	background-color:#fff
}
.l_simpleList>.title {
	background-color:#e1e1e1;
	margin:0 0 10px;
	padding:5px;
	position:relative;
	text-align:center;
	z-index:2
}
.l_simpleList .innerContent {
	position:relative
}
.l_simpleList li.item {
	border-bottom:1px solid #e1e1e1;
	color:#191919;
	overflow:hidden;
	position:relative
}
.l_simpleList li.item:last-child {
	border-bottom:none
}
.l_simpleList li.item>div {
	box-sizing:border-box;
	overflow:hidden;
	position:relative
}
.l_simpleList li.item div.wrapItemInfo i.nextMark {
	top:48%
}
.l_simpleList .wrapItemInfo {
	background-color:#fff;
	padding:10px;
	position:relative;
	z-index:2
}
.l_simpleList li.item.nonDisplay .point {
	-webkit-opacity:.3;
	opacity:.3
}
.l_simpleList .itemInfo {
	box-sizing:border-box;
	position:absolute;
	z-index:2
}
.l_simpleList .trigger {
	background-color:rgba(0,0,0,.7);
	border-radius:8px 0 0 8px;
	bottom:0;
	content:"";
	left:-8px;
	position:absolute;
	top:0;
	width:8px;
	z-index:2
}
.l_simpleList .itemAction {
	background-color:rgba(0,0,0,.8);
	height:100%;
	position:absolute;
	right:0;
	top:-90px;
	width:100%;
	z-index:100
}
.l_simpleList .itemAction li {
	float:left;
	width:33%
}
.l_simpleList .itemAction li a {
	color:#fff;
	display:inline-block;
	line-height:90px;
	text-align:center;
	vertical-align:middle;
	width:100%
}
.l_simpleList .itemAction li a:active {
	opacity:.8
}
.l_simpleList .itemAction .col3 .col:first-child a {
	border-left:none
}
.l_simpleList .itemAction .col3 .col a {
	border-left:1px solid #e1e1e1
}
.l_simpleList .meta {
	float:left
}
.l_simpleList .meta.detail {
	float:none;
	white-space:nowrap
}
.l_simpleList .pointLarge {
	float:left;
	height:100%;
	line-height:150px;
	margin:0 10px 0 0;
	text-align:center;
	width:70px
}
.l_simpleList .pointLarge img {
	line-height:70px;
	max-height:70px;
	max-width:70px;
	text-align:center;
	vertical-align:middle
}
.l_simpleList .variation {
	font-weight:700
}
.l_simpleList .optionBox {
	margin-bottom:3px;
	margin-top:3px;
	white-space:normal;
	word-break:break-all
}
.l_simpleList .optionName {
	font-weight:700
}
.l_simpleList .optionForm {
	background-color:#f6f6f6;
	box-sizing:border-box;
	margin-bottom:4px;
	margin-top:4px;
	padding:4px;
	text-align:left;
	width:100%
}
.l_simpleList .price {
	font-weight:700;
	margin-top:10px
}
.l_simpleList .priceTotal {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-justify-content:flex-end;
	justify-content:flex-end;
	font-weight:700;
	margin-top:10px
}
.l_simpleList .priceTotal .priceWrapper {
	-webkit-flex:1;
	flex:1
}
.l_simpleList .priceBox {
	margin-top:6px
}
.l_simpleList .shippingFee {
	font-weight:700
}
.l_simpleList .point {
	float:left;
	height:70px;
	line-height:70px;
	margin:0 10px 0 0;
	text-align:center;
	width:70px
}
.l_simpleList .point img {
	line-height:70px;
	max-height:70px;
	max-width:70px;
	text-align:center;
	vertical-align:middle
}
.l_simpleList .point img.small {
	line-height:30px;
	max-height:30px;
	max-width:30px
}
.l_simpleList .point.status {
	font-weight:700;
	letter-spacing:1px;
	line-height:70px;
	text-align:center;
	vertical-align:middle
}
.l_simpleList .point.image img {
	max-height:70px;
	max-width:70px
}
.l_simpleList .action {
	float:right;
	height:70px;
	margin:0 0 0 10px;
	width:70px
}
.l_simpleList .action .row {
	text-align:right
}
.l_simpleList .defaultCartPriceTotal {
	font-weight:700;
	margin-top:15px
}
.l_simpleList .defaultCartAmount {
	float:right
}
.l_simpleList .defaultCartAmountValue {
	font-weight:700
}
.l_simpleList .defaultCartAction {
	height:30px
}
.l_simpleList .textAbbr {
	margin-left:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.l_simpleList .defaultCartAction .row {
	margin:0 20px 0 0;
	text-align:right
}
.l_simpleList .defaultCartAction .itemDelete {
	margin-right:8px;
	line-height:27px
}
.l_simpleList .defaultCartAction .row.itemAmountAction {
	display:-webkit-flex;
	display:flex;
	margin:0
}
.l_simpleList .defaultCartAction .amountSelect {
	position:relative;
	width:50px;
	height:24px
}
.l_simpleList .labelset {
	font-size:11px;
	letter-spacing:1px;
	margin:0 3px 0 0;
	vertical-align:middle
}
.l_simpleList .labelset:last-child {
	margin:0
}
.l_simpleList .labelset .label {
	background-color:#919191;
	border-radius:3px;
	color:#fff;
	font-size:9px;
	font-weight:700;
	letter-spacing:0;
	margin:0 5px 0 0;
	padding:2px 5px;
	vertical-align:bottom
}
.l_simpleList .row>.label {
	color:#393939
}
.l_simpleList .row2 {
	font-size:14px
}
.l_simpleList .row2>.row {
	display:block;
	height:35px;
	line-height:35px
}
.l_simpleList .row3 {
	font-size:12px
}
.l_simpleList .row3>.row {
	display:block;
	height:23px;
	line-height:23px
}
.l_simpleList .row3>.rowPrice {
	display:block;
	height:100%;
	line-height:100%
}
.l_simpleList .row3>.row--small {
	color:#919191;
	font-size:10px;
	height:18px;
	line-height:18px;
	width:auto
}
.l_simpleList .row3>.row--line {
	height:35px;
	line-height:35px
}
.l_simpleList .row3 .row .controls {
	position:relative
}
.l_simpleList .row3 .row i.selectMark {
	top:11px
}
.l_simpleList .row3 .row select {
	width:100%
}
.l_simpleList .row4 {
	font-size:11px;
	letter-spacing:1px
}
.l_simpleList .row4>.row {
	display:block;
	height:18px;
	line-height:18px
}
.l_simpleList .row4>.row:fist-child,.l_simpleList .row4>.row:last-child {
	height:17px;
	line-height:17px
}
.l_simpleList .col {
	float:left
}
.l_simpleList .col2>.col {
	float:left;
	margin-bottom:0;
	margin-right:1%;
	width:49%
}
.l_simpleList .col2>.col:last-child {
	margin-left:1%;
	margin-right:0;
	width:49%
}
.l_simpleList .col3>.col {
	margin-right:1%;
	width:32%
}
.l_simpleList .col3>.col:last-child {
	margin-right:0;
	width:34%
}
.l_simpleList .col4>.col {
	margin-right:1%;
	width:24%
}
.l_simpleList .col4>.col:last-child {
	margin-right:0;
	width:25%
}
.l_simpleList .col5>.col {
	margin-right:1%;
	width:19%
}
.l_simpleList .col5>.col:last-child {
	margin-right:0;
	width:20%
}
.l_simpleList.centerContent li.item {
	border-bottom:none;
	height:40px;
	padding:10px 0
}
.l_simpleList.centerContent li.item.pressing {
	-webkit-opacity:.7;
	opacity:.7;
	-webkit-transform:scale(1.1);
	transform:scale(1.1)
}
.l_simpleList.centerContent li.item:first-child {
	border-top:none
}
.l_simpleList.centerContent li.item>div.col3 {
	height:40px;
	line-height:40px;
	position:relative
}
.l_simpleList.centerContent li.item>div.col3>div.col.icon {
	left:0;
	position:absolute;
	text-align:center;
	top:0;
	width:40px
}
.l_simpleList.centerContent li.item>div.col3>div.col.icon:last-child {
	left:inherit;
	right:0
}
.l_simpleList.centerContent li.item>div.col3>div.col:first-child {
	width:100%
}
.l_simpleList.centerContent li.item>div.col3>div.col.icon>.btnDelete {
	margin:7px auto
}
.l_simpleList li.orderedItem {
	min-height:90px
}
.orderdItemInfo {
	font-size:12px;
	line-height:1.5em
}
.shippingCollective {
	background-color:#f4f4f4;
	border-bottom:1px solid #e1e1e1;
	border-top:1px solid #e1e1e1;
	padding:5px 10px 5px 5px;
	text-align:right
}
.shippingCollective__title {
	color:#919191;
	display:inline-block;
	font-weight:700;
	margin:0 10px 0 0
}
.l_listTable {
	border-bottom:1px solid #ccc;
	display:table;
	padding:8px 0;
	position:relative;
	width:100%
}
.l_listTable .selectMark {
	bottom:27px;
	right:30px;
	top:auto
}
.listTable__col {
	display:table-cell
}
.listTable__col:last-child {
	padding-right:15px
}
.listThumb {
	height:70px;
	padding:0 10px 0 15px;
	text-align:center;
	vertical-align:middle;
	width:70px
}
.listThumb>img {
	max-height:70px;
	max-width:70px
}
.shippingListContainer {
	position:relative
}
.shippingListContainer .selectMark {
	top:40px
}
.shippingFeeTotal {
	display:block;
	font-size:14px;
	padding:10px 0 0;
	text-align:right
}
.shippingSelect {
	margin-top:10px
}
#couponShippingInfo {
	display:none
}
#couponShippingInfo a,#couponShippingInfo a:link,couponShippingInfo a:visited {
	color:#b4b4b4
}
.side {
	background-color:#919191;
	border-radius:10px;
	bottom:10px;
	color:#fff;
	float:right;
	font-size:9px;
	font-weight:700;
	letter-spacing:1px;
	margin:3px 5px 0 0;
	padding:1px 8px;
	position:absolute;
	right:10px
}
.l_simpleList .title {
	font-size:14px;
	font-weight:700
}
.l_simpleList .description {
	color:#898989;
	font-size:11px;
	margin:3px 0 0
}
.l_simpleList .price {
	font-weight:700;
	letter-spacing:1px
}
.l_linkList>li>a {
	display:inline-block;
	width:100%
}
.l_simpleForm {
	background-color:#fff;
	box-sizing:border-box;
	padding:15px;
	position:relative
}
.l_simpleForm>.title {
	background-color:#393939;
	color:#fff;
	margin:0 0 10px;
	padding:5px;
	position:relative;
	text-align:center;
	z-index:2
}
.l_simpleForm .controls {
	position:relative
}
.l_simpleForm .controls.j_showPassword {
	position:relative
}
.l_simpleForm .controls.j_showPassword .j_showPasswordLabel {
	cursor:pointer;
	padding:4px 8px
}
.l_simpleForm .controls.j_showPassword .j_showPasswordLabel .text,.l_simpleForm .controls.j_showPassword .j_showPasswordTrigger {
	height:40px;
	line-height:40px
}
.l_simpleForm .controls.j_showPassword .j_showPasswordLabel .text {
	float:left
}
.l_simpleForm .controls.j_showPassword .j_showPasswordTrigger {
	float:right;
	margin:12px 0;
	padding:4px 8px;
	width:initial
}
.l_simpleForm>.title.caution {
	background-color:#e95f5b;
	color:#fff
}
.l_simpleForm.innerContent {
	margin:10px 0 0
}
.l_simpleForm label {
	box-sizing:border-box;
	color:#191919;
	display:inline-block;
	font-size:12px;
	font-weight:700;
	margin:0 0 3px;
	position:relative;
	text-align:left;
	width:100%
}
.l_simpleForm label a {
	color:#00c7b6
}
.l_simpleForm label.controlLabel .abRight {
	z-index:2
}
.l_simpleForm .error-message {
	color:#e95f5b;
	font-weight:700
}
.l_simpleForm .success-message {
	color:#00c7b6;
	font-weight:700
}
.l_simpleForm .date,.l_simpleForm input.number,.l_simpleForm input.text,.l_simpleForm select {
	height:40px;
	padding:0 8px
}
.l_simpleForm textarea {
	height:120px
}
.l_simpleForm .controlGroup {
	margin:0 0 15px
}
.l_simpleForm .controlGroup.url {
	font-size:14px
}
.l_simpleForm .controlGroup.url>.controls {
	box-sizing:border-box;
	float:left;
	line-height:40px;
	padding:0 5px 0 0
}
.l_simpleForm .controlGroup.url>.controls.https {
	font-size:11px;
	width:14%
}
.l_simpleForm .controlGroup.url>.controls.subDomain {
	position:relative;
	width:22%
}
.l_simpleForm .controlGroup.url>.controls.domain:after,.l_simpleForm .controlGroup.url>.controls.subDomain:after {
	bottom:-20px;
	content:".";
	font-size:21px;
	position:absolute;
	right:0
}
.l_simpleForm .controlGroup.url>.controls.domain {
	width:42%
}
.l_simpleForm .controlGroup.url>.controls.tld {
	padding:0;
	width:22%
}
.ui-menu {
	background-color:#fff;
	background-image:none;
	border-radius:0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px
}
.ui-menu .ui-menu-item a.ui-state-active,.ui-menu .ui-menu-item a.ui-state-focus {
	background-color:#f4f4f4;
	background-image:none;
	border:none;
	border-radius:0;
	color:#666;
	margin:0
}
.controlGroup.toggleParentContent>.controlLabel {
	float:left;
	font-size:13px;
	line-height:30px;
	margin:0 0 0 15px
}
.controlGroup.toggleParentContent>.controls {
	text-align:right
}
.controlGroup.toggleParentContent>.controls>.switchery {
	margin:0 15px 0 0
}
.l_simpleForm .controlGroup .toggleContent {
	margin:15px 0 0
}
.l_simpleForm .controlGroup .toggleContent>.title {
	background-color:#e1e1e1;
	margin:0 0 10px;
	padding:5px;
	position:relative;
	text-align:center;
	z-index:2
}
.l_simpleForm .controlGroup .toggleContent.subInput {
	margin:15px 0
}
.l_simpleForm .controlGroup .toggleContent.subInput.boxStyle {
	border:1px solid #e1e1e1;
	border-radius:3px
}
.l_simpleForm .controlGroup .toggleContent.subInput>.innerContent {
	padding:10px 10px 0
}
.l_simpleForm p.text {
	font-size:13px;
	text-align:right
}
.l_simpleForm p.text.notice {
	font-size:12px;
	line-height:1.4;
	margin:5px 0 0
}
.l_simpleForm p.text.textCenter {
	text-align:center
}
.l_simpleForm p.text.textLeft {
	text-align:left
}
.l_simpleForm p.text.textReft {
	text-align:right
}
.l_simpleForm .controlGroup ul.checkList li {
	margin:15px 0 0
}
.l_simpleForm .controlGroup ul.checkList li:first-child {
	margin:0
}
.l_simpleForm .controlGroup ul.checkList .simpleCB {
	margin:0 10px 0 0
}
.l_simpleForm .controlGroup ul.checkList label {
	cursor:pointer;
	display:block;
	line-height:26px;
	vertical-align:middle
}
.l_simpleForm .controlGroup>.controls {
	margin:0 0 10px;
	text-align:right
}
.l_simpleForm .radiobox .labelset {
	display:inline-block;
	float:left;
	position:relative;
	width:50%
}
.l_simpleForm .radiobox .labelset label {
	left:0;
	line-height:26px;
	position:absolute;
	text-align:center;
	top:0
}
.l_simpleForm .controls.term .date {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display:inline;
	float:left;
	line-height:40px;
	text-align:center;
	width:45%
}
.l_simpleForm .controls.term .separate {
	float:left;
	line-height:40px;
	text-align:center;
	width:10%
}
.l_simpleForm .controls.tel.col3 .number,.l_simpleForm .controls.term.col3 .date {
	float:left;
	height:40px;
	width:100%
}
.l_simpleForm .controls.term.col3 .input.date.required {
	padding:0
}
.l_simpleForm .controls.tel.col3 input.number,.l_simpleForm .controls.term.col3 select.date {
	text-align:center;
	width:30%
}
.l_simpleForm .controls.tel.col3 .separate,.l_simpleForm .controls.term.col3 .separate {
	display:block;
	float:left;
	line-height:40px;
	text-align:center;
	vertical-align:middle;
	width:5%
}
.l_simpleForm .controls.col4 .separate {
	float:left;
	line-height:40px;
	text-align:center;
	width:10%
}
.l_simpleForm .controls.col４ .number {
	float:left;
	height:40px;
	width:100%
}
.l_simpleForm .controls.col4 input.number {
	text-align:center;
	width:22%
}
.l_simpleForm .controls.col4 .separate {
	display:block;
	float:left;
	line-height:40px;
	text-align:center;
	vertical-align:middle;
	width:4%
}
.l_simpleForm .controlGroup.radioGroup .controls>input.radiobox {
	-webkit-appearance:button!important;
	-moz-appearance:button!important;
	appearance:button!important;
	background-color:inherit;
	border:2px solid #ccc;
	border-radius:30px;
	display:inline-block;
	float:left;
	height:30px;
	margin:0;
	position:relative;
	width:30px
}
.l_simpleForm .controlGroup.radioGroup .controls>input:checked {
	border:2px solid #00c7b6
}
.l_simpleForm .controlGroup.radioGroup .controls>input:checked:after {
	background-color:#00c7b6;
	border-radius:7px;
	bottom:7px;
	content:"";
	display:block;
	left:7px;
	position:absolute;
	right:7px;
	top:7px
}
.l_simpleForm .controlGroup.radioGroup .controls>label {
	display:block;
	font-size:14px;
	font-weight:400;
	line-height:30px;
	margin:0;
	padding:0 0 0 40px
}
.l_simpleForm .controlGroup.radioGroup .controls>.payment--softbank+label {
	line-height:20px
}
.l_simpleForm>.innerContent>.description {
	font-weight:700;
	margin:0 0 10px
}
.l_simpleForm.wide {
	padding:15px 0
}
.l_simpleForm.wide .controls {
	font-size:14px
}
.l_simpleForm.wide>.innerContent>.controlGroup:first-child {
	padding-top:15px
}
.l_simpleForm.wide>.title {
	background-color:#666;
	color:#fff;
	font-size:14px;
	line-height:40px;
	margin:0;
	padding:0;
	text-align:center
}
.fBlockTitle {
	background-color:#666;
	color:#fff;
	font-size:14px;
	line-height:40px;
	margin:0 0 20px;
	padding:0;
	text-align:center
}
.l_simpleForm.wide>.innerContent {
	padding:0 15px
}
.l_simpleForm.wide .controlGroup.radioGroup>.controls {
	border-bottom:1px solid #e1e1e1;
	margin:0;
	padding:15px
}
.l_simpleForm .controlGroup .controls .borderTop {
	border-top:1px solid #eee;
	padding-top:15px
}
.l_detailList {
	background-color:#fff
}
.l_detailList .innerContent {
	background-color:#fff;
	padding:15px
}
.l_detailList .innerContent li {
	display:block
}
.l_detailList .innerContent li:first-child {
	border-top:0 dotted #ececec
}
.l_detailList .caption {
	background-color:#525252;
	box-sizing:border-box;
	color:#fff;
	padding:5px 10px;
	width:100%
}
.l_detailList div.header {
	line-height:24px;
	margin:0 5px 0 0
}
.l_detailList div.header p.tag {
	background-color:#a4a4a4;
	border-radius:12px;
	box-sizing:border-box;
	color:#fff;
	display:inline-block;
	float:right;
	padding:0 10px
}
.l_detailList div.header p.date {
	float:left;
	font-size:12px;
	font-weight:700
}
.l_detailList p.text {
	font-size:14px;
	line-height:1.5;
	padding:10px 0 15px
}
.l_simpleBox {
	margin:15px 0
}
.l_simpleBox>.header {
	border-bottom:1px solid #e1e1e1;
	padding:4px 15px 0
}
.l_simpleBox>.header>.title {
	font-size:18px;
	line-height:45px;
	vertical-align:middle
}
.l_simpleBox>.innerContent {
	padding:0 15px
}
.l_socialLink {
	display:block;
	text-align:center;
	width:100%
}
.l_socialLink .l_socialLinkWrap {
	display:inline-block
}
.l_socialLink .facebook,.l_socialLink .twitter {
	display:inline-block;
	float:left;
	line-height:20px;
	vertical-align:top
}
.l_socialLink .twitter {
	width:115px
}
.l_socialLink .facebook .fb_iframe_widget {
	display:inline-block;
	position:relative
}
.l_box4mes {
	font-size:14px
}
.l_box4mes>.status {
	padding:5px 15px
}
table.l_bothSidesTable {
	border:none;
	border-collapse:collapse;
	width:100%
}
table.l_bothSidesTable .small {
	font-size:11px
}
table.l_bothSidesTable td,table.l_bothSidesTable th {
	padding:5px 0
}
table.l_bothSidesTable th {
	font-weight:400;
	text-align:left
}
table.l_bothSidesTable td {
	text-align:right
}
table.l_bothSidesTable tr.emphasis td,table.l_bothSidesTable tr.emphasis th {
	border-top:1px solid #e1e1e1;
	font-size:18px;
	font-weight:700;
	padding:10px 0
}
table.l_bothSidesTable .cartListHeader {
	box-sizing:border-box;
	min-width:90px;
	vertical-align:top
}
.m_simpleSlider ul {
	overflow-x:auto;
	white-space:nowrap
}
.m_simpleSlider li {
	display:inline-block
}
.m_simpleSlider li img {
	display:inline
}
.d_breadcrumbList.m_lineBrake {
	line-height:1.8;
	padding:10px 15px
}
.d_breadcrumbList.m_lineBrake li {
	display:inline-block;
	line-height:1.8;
	margin:0
}
.m_fixedBtns {
	bottom:0;
	box-sizing:border-box;
	left:0;
	overflow:hidden;
	position:fixed;
	width:100%;
	z-index:3
}
.m_fixedBtns.nouse {
	bottom:-100%
}
.m_fixedBtns .btns {
	background-color:rgba(254,254,254,.8);
	padding:5px 10px
}
.invalid {
	margin-top:24px;
	position:relative
}
.invalid .btns {
	padding:0
}
.m_fixedBtns .btnBase,.m_fixedBtns button {
	border-radius:3px;
	font-size:15px;
	height:50px;
	line-height:50px;
	padding:0;
	width:100%
}
html.android2x .m_fixedBtns.noFixed {
	bottom:initial;
	left:initial;
	overflow:initial;
	position:relative;
	z-index:initial
}
.m_massBox.col2 li {
	box-sizing:border-box;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	width:49%
}
.m_massBox.col2 li:nth-child(odd) {
	margin:0 1% 10px 0
}
.m_massBox.col2 li:nth-child(even) {
	margin:0 0 10px 1%
}
.m_overflowBox {
	border:2px solid #e1e1e1;
	border-radius:5px;
	height:100px;
	line-height:1.7;
	-webkit-overflow-scrolling:touch;
	overflow-y:scroll;
	padding:10px
}
.m_overflowBox .title {
	margin:0 0 10px
}
.m_overflowBox dl {
	margin:0 0 10px
}
.m_overflowBox dt {
	margin:0 0 5px
}
.m_overflowBox dd {
	margin:0 0 0 10px
}
.m_overflowBox .number {
	letter-spacing:4px;
	margin-right:5px
}
.m_slider>ul>li {
	float:left
}
.m_slider>ul>li>img {
	width:100%
}
#html.openSwitchPalette #mainContent>.mainForm>main {
	margin-bottom:160px
}
#palette {
	background-color:#fff;
	bottom:0;
	box-shadow:0 -1px 2px 1px rgba(100,100,100,.5);
	left:0;
	opacity:1;
	padding:20px;
	position:fixed;
	right:0;
	transition:opacity .4s ease;
	z-index:1000
}
#palette:after {
	border-right-color:#fff;
	z-index:1000
}
#palette.hide {
	display:none
}
#palette>.c,#palette>.header {
	margin:0 auto;
	width:270px
}
#palette>.header {
	margin-bottom:15px
}
#palette .select {
	border-radius:50%;
	cursor:pointer;
	display:block;
	float:left;
	height:33px;
	margin-left:5px;
	position:relative;
	width:33px
}
#palette .select:first-child {
	margin-left:0
}
#palette .select.active:before {
	border:2px solid #fff;
	border-radius:50%;
	bottom:3px;
	content:"";
	display:block;
	left:3px;
	position:absolute;
	right:3px;
	top:3px
}
#palette .swatch {
	cursor:pointer;
	display:block;
	float:left;
	height:25px;
	margin-bottom:7px;
	margin-right:7px;
	position:relative;
	width:85px
}
#palette .swatch.active:before {
	border:2px solid #fff;
	bottom:3px;
	content:"";
	display:block;
	left:3px;
	position:absolute;
	right:3px;
	top:3px
}
#palette .swatch:nth-of-type(3n) {
	margin-right:0
}
#palette .swatch[data-color="#eeeeee"],#palette .swatch[data-color="#f6f6f6"],#palette .swatch[data-color="#ffffff"] {
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.05)
}
#palette .pager {
	height:30px;
	padding:10px 0 0;
	text-align:center
}
#palette .pager>.dot {
	background-color:#ccc;
	border-radius:50%;
	cursor:pointer;
	display:inline-block;
	height:7px;
	margin:5px;
	width:7px
}
#palette>.next,#palette>.prev {
	bottom:20px;
	cursor:pointer;
	position:absolute
}
#palette>.prev {
	left:20px
}
#palette>.next {
	right:20px
}
#palette>.next>img,#palette>.prev>img {
	height:25px;
	width:25px
}
.hueWrapper {
	height:30px;
	margin-bottom:15px;
	position:relative
}
.hueSelector {
	background-image:url(/img/admin/edit_shop/hue.png);
	float:left;
	height:100%;
	width:160px
}
.hueSelector .indicator {
	border-radius:1px;
	box-shadow:0 0 0 2px #000;
	cursor:pointer;
	height:100%;
	margin-left:0;
	position:absolute;
	width:4px
}
.colorCode {
	border:none;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
	float:right;
	height:30px;
	line-height:24px;
	margin:0;
	padding:0;
	text-align:center;
	width:80px
}
.saturationWrapper {
	background-image:url(/img/admin/edit_shop/saturationWrapper.png);
	background-size:cover;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
	height:92px
}
.saturationInner {
	height:100%;
	position:relative
}
.saturationInner .indicator {
	border-radius:50%;
	box-shadow:0 0 0 2px #000;
	box-sizing:border-box;
	cursor:crosshair;
	height:12px;
	margin:-6px;
	padding:6px;
	position:absolute;
	width:12px
}
i.selectMark {
	border-bottom:solid 2px #a0a9b5;
	border-right:solid 2px #a0a9b5;
	display:block;
	height:7px;
	margin-top:-4px;
	position:absolute;
	right:10px;
	top:45%;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	transition:.3s;
	width:7px
}
i.nextMark {
	border-bottom:solid 2px #a0a9b5;
	border-right:solid 2px #a0a9b5;
	display:block;
	height:7px;
	margin-top:-4px;
	position:absolute;
	right:10px;
	top:45%;
	-webkit-transform:rotate(315deg);
	transform:rotate(315deg);
	width:7px
}
i.backMark {
	border-bottom:solid 2px #a0a9b5;
	border-right:solid 2px #a0a9b5;
	display:block;
	height:7px;
	left:10px;
	margin-top:-4px;
	position:absolute;
	top:45%;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
	width:7px
}
i.btnDelete {
	background-color:#e95f5b;
	border-radius:25px;
	cursor:pointer;
	display:block;
	height:25px;
	position:relative;
	width:25px
}
i.btnDelete::before {
	background-color:#fff;
	content:"";
	display:block;
	height:16px;
	left:11px;
	position:absolute;
	top:5px;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	width:3px
}
i.btnSelectImage {
	background:url(../img/common/select_image.png) no-repeat center center;
	background-size:30px 30px;
	display:block;
	height:30px;
	position:relative;
	width:30px
}
.containFF {
	min-height:410px;
	padding-bottom:60px
}
.notesIcon {
	color:#dad428;
	font-size:9px;
	font-weight:700;
	line-height:10px;
	padding:0 0 0 3px;
	vertical-align:top
}
.requireIcon {
	color:#e95f5b;
	font-size:14px;
	font-weight:700;
	line-height:14px;
	padding:0 0 0 3px;
	vertical-align:top
}
.simpleCB {
	-webkit-appearance:button!important;
	appearance:button!important;
	-moz-appearance:button!important;
	background:#fff;
	border:2px solid #d1d1d1;
	border-radius:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	float:left;
	height:26px;
	width:26px
}
.simpleCB:checked {
	background-image:url(../img/common/checkbox.png);
	background-position:-48px 0
}
.simpleRadio {
	-webkit-appearance:button!important;
	-moz-appearance:button!important;
	appearance:button!important;
	background:#fff;
	border:2px solid #d1d1d1;
	border-radius:13px;
	box-sizing:border-box;
	height:26px;
	width:26px
}
.simpleRadio:checked {
	background-image:url(../img/common/checkbox.png);
	background-position:-168px 0
}
.d_box {
	background-color:#fff;
	border:2px solid #e1e1e1;
	box-sizing:border-box;
	padding:10px;
	position:relative
}
.d_box.announce {
	border:none;
	font-size:15px;
	padding:0
}
.d_box.announce a {
	color:#229696
}
.d_box.announce>.c,.d_box.announce>.header {
	padding:10px 15px
}
.d_box.announce>.header {
	border-bottom:1px solid #e1e1e1
}
.d_box.announce>.header>.title {
	border-left:5px solid #131313;
	color:#131313;
	font-size:18px;
	font-weight:700;
	margin-top:10px;
	padding:0 0 0 10px
}
.d_box.announce>.header>.meta {
	color:#919191;
	font-size:12px
}
.d_box.announce>.header>.meta>.to {
	float:left
}
.d_box.announce>.header>.meta>.date {
	float:right
}
.d_box.announce>.c>.from {
	color:#919191;
	font-size:12px;
	margin-top:15px;
	text-align:right
}
.d_box.announce .c img {
	width:100%
}
.d_box.announce .c li {
	float:left;
	width:100%
}
.d_box.announce .c li .socialBtnList.clearfix div {
	float:left!important
}
.d_box.announce .fb-like {
	margin-right:20px
}
.d_data {
	font-size:32px;
	margin:10px 0;
	padding:0 10px;
	text-align:right
}
.d_data .label {
	float:left;
	font-size:11px
}
.d_data .small {
	font-size:11px
}
.d_passbook {
	position:relative
}
.d_passbook>.c {
	font-size:14px;
	line-height:30px
}
.d_passbook>.c>.col {
	border-bottom:1px dotted #e1e1e1;
	box-sizing:border-box;
	padding:10px
}
.d_passbook>.c>.col.header {
	background-color:#e1e1e1;
	border-bottom:none;
	box-shadow:inset 0 2px 1px #ccc;
	color:#606060;
	font-weight:700
}
.d_passbook .cell.boxRight {
	float:right
}
.d_passbook .withoutDate {
	width:calc(100% - 80px)
}
.d_passbook .withoutTotal {
	width:calc(100% - 90px)
}
.d_passbook .cell.status {
	border-radius:3px;
	color:#fff;
	font-size:10px;
	font-weight:700;
	line-height:1;
	margin-top:12px;
	padding:5px 7px;
	text-align:center
}
.d_passbook .cell.status.proceed {
	background-color:#00c7b6
}
.d_passbook .cell.status.incomplete {
	background-color:#f1c40f
}
.d_passbook .cell.status.cancelled {
	background-color:#e95f5b
}
.d_passbook .cell.total {
	text-align:right;
	width:90px
}
.d_switch {
	-moz-appearance:button;
	appearance:button;
	-webkit-appearance:button;
	background-color:#00c7b6;
	border:none;
	border-radius:5px;
	box-shadow:0 5px 0 #14896d;
	box-sizing:border-box;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	letter-spacing:1px;
	line-height:1.7;
	margin:0;
	padding:5px 12px;
	text-align:center;
	text-decoration:none;
	text-shadow:none;
	vertical-align:middle;
	width:100%
}
.d_switch.active {
	box-shadow:none;
	margin:5px 0 -5px 0
}
.btnPopupClose {
	background-color:rgba(50,50,50,.9);
	border:2px solid #fff;
	border-radius:20px;
	box-shadow:0 0 1px rgba(0,0,0,.5);
	cursor:pointer;
	height:20px;
	position:relative;
	width:20px
}
.btnPopupClose:after,.btnPopupClose:before {
	background-color:#fff;
	content:"";
	display:block;
	height:13px;
	position:absolute;
	width:2px
}
.btnPopupClose:before {
	left:9px;
	top:3px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.btnPopupClose:after {
	left:9px;
	top:3px;
	-webkit-transform:rotate(315deg);
	transform:rotate(315deg)
}
table.d_kanaTable {
	background-color:#f9f9f9;
	border:1px solid #e1e1e1;
	border-collapse:collapse;
	font-size:18px;
	width:100%
}
table.d_kanaTable td {
	border-left:1px solid #e1e1e1;
	border-top:1px solid #e1e1e1;
	position:relative;
	text-align:center;
	width:20%
}
table.d_kanaTable .key {
	color:#e1e1e1;
	display:inline-block;
	height:50px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	width:100%
}
table.d_kanaTable td a.key {
	background-color:#fff;
	color:#229696;
	font-weight:700
}
table.d_kanaTable td a.key:hover {
	background-color:#229696;
	color:#fff
}
.d_breadcrumbList {
	background-color:#e1e1e1;
	color:#919191;
	line-height:40px;
	margin:0 0 15px;
	padding:0 15px
}
.d_breadcrumbList a {
	color:#229696
}
.d_emptyBox {
	text-align:center
}
.d_emptyBox p.text {
	padding:30px 0
}
.d_pager {
	text-align:center
}
.d_pager .pageList {
	position:relative
}
.d_pager .pageList a {
	color:#63c1ae
}
.d_pager .pageList a[href="#"] {
	color:#e1e1e1
}
.d_pager .pageList li {
	font-size:20px;
	padding:0 10px
}
.d_pager .pageList .active {
	color:#e1e1e1;
	font-weight:700
}
.d_lineNav {
	background-color:#fcfcfc;
	border-bottom:1px solid #d5d5d5;
	border-left:1px solid #e7e7e7;
	border-radius:5px;
	border-radius:5px;
	border-right:1px solid #e7e7e7;
	border-top:1px solid #eee
}
.d_lineNav.row {
	width:100%
}
.d_lineNav.row>ul {
	position:relative
}
.d_lineNav.row>ul>li {
	border-right:1px solid #dbdbdb;
	float:left;
	position:relative;
	text-align:center
}
.d_lineNav.row>ul>li.right {
	border-left:1px solid #dbdbdb;
	border-right:none;
	float:right
}
.d_lineNav.row>ul>li>a {
	color:#545454;
	display:inline-block;
	font-size:11px;
	line-height:42px;
	position:relative;
	text-decoration:none;
	width:130px
}
.d_lineNav.row>ul>li a.active,.d_lineNav.row>ul>li a.selected {
	font-weight:700
}
.d_lineNav.row>ul>li>.c.nest {
	background-color:#fcfcfc;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #e2e2e2;
	border-radius:0 0 5px 5px;
	border-right:1px solid #e2e2e2;
	border-top:none;
	left:-1px;
	position:absolute;
	right:-1px;
	top:39px;
	z-index:1
}
.d_labelbox {
	border:3px solid #e1e1e1;
	border-radius:5px;
	margin:20px 0;
	padding:5px 10px;
	position:relative
}
.d_labelbox>.title {
	background-color:#fff;
	color:#666;
	font-size:13px;
	left:10px;
	padding:0 3px;
	position:absolute;
	top:-12px
}
.d_labelbox>.innerContent {
	font-size:21px
}
.d_flowList {
	background-color:#cfcfcf;
	border-radius:20px;
	box-sizing:border-box;
	color:#fff;
	height:24px;
	line-height:24px;
	overflow:hidden;
	position:relative
}
.d_flowList>li {
	float:left;
	position:relative
}
.d_flowList>li.now {
	background-color:#02ceb9;
	font-size:14px;
	font-weight:700;
	text-align:center
}
.d_flowList>li.now:first-child {
	z-index:3
}
.d_flowList i.separateMark {
	border-bottom:solid 2px #fff;
	border-right:solid 2px #fff;
	content:"";
	display:block;
	display:block;
	height:20px;
	margin-top:2px;
	position:absolute;
	right:-10px;
	top:0;
	-webkit-transform:rotate(315deg);
	transform:rotate(315deg);
	width:20px;
	z-index:2
}
.d_flowList>li.now>i.separateMark {
	background-color:#02ceb9
}
.d_flowList>li.yet>i.separateMark {
	background-color:#cfcfcf
}
.d_flowList>li.now>span.text {
	position:relative
}
.d_flowList>li.yet>span.text {
	color:#cfcfcf;
	content:""
}
.d_flowList.col1>li.now {
	width:100%
}
.d_flowList.col3>li.now {
	width:80%
}
.d_flowList.col3>li.yet {
	background-color:#cfcfcf;
	width:10%
}
#pageLoadingImg {
	height:100px;
	margin:0 auto;
	position:relative;
	-webkit-transform:scale(.6);
	transform:scale(.6);
	width:100px
}
.f_circleG {
	-webkit-animation-direction:linear;
	animation-direction:linear;
	-webkit-animation-duration:.8s;
	animation-duration:.8s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-name:f_fadeG;
	animation-name:f_fadeG;
	background-color:#fff;
	border-radius:9px;
	height:18px;
	position:absolute;
	width:18px
}
#frotateG_01 {
	-webkit-animation-delay:.3s;
	animation-delay:.3s;
	left:0;
	top:41px
}
#frotateG_02 {
	-webkit-animation-delay:.4s;
	animation-delay:.4s;
	left:12px;
	top:12px
}
#frotateG_03 {
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
	left:41px;
	top:0
}
#frotateG_04 {
	-webkit-animation-delay:.6s;
	animation-delay:.6s;
	right:12px;
	top:12px
}
#frotateG_05 {
	-webkit-animation-delay:.7s;
	animation-delay:.7s;
	right:0;
	top:41px
}
#frotateG_06 {
	-webkit-animation-delay:.8s;
	animation-delay:.8s;
	bottom:12px;
	right:12px
}
#frotateG_07 {
	-webkit-animation-delay:.9s;
	animation-delay:.9s;
	bottom:0;
	left:41px
}
#frotateG_08 {
	-webkit-animation-delay:1s;
	animation-delay:1s;
	bottom:12px;
	left:12px
}
@-webkit-keyframes f_fadeG {
	0% {
	background-color:#6e6e6e
}
100% {
	background-color:#fff
}
}@keyframes f_fadeG {
	0% {
	background-color:#6e6e6e
}
100% {
	background-color:#fff
}
}
html.open_nav.android2x {
	height:100%;
	overflow:hidden
}

html.android2x #mainContent.motion {
	transition-duration:0
}
.status.complete {
	background-color:#ccc;
	color:#6c6c6c
}
.status.cancel {
	background-color:#ccc;
	color:#6c6c6c
}
.status.uncomplete,.status.working {
	background-color:#e95f5b;
	color:#fff
}
.status.waiting {
	background-color:#fff1f1;
	color:#e95f5b
}
.hide {
	display:none!important
}
.open {
	visibility:visible!important
}
.j_event {
	cursor:pointer
}
.j_pluralSearchWindow.coverAb {
	background-color:#fff;
	top:45px;
	z-index:3
}
.j_pluralSearchWindow.coverAb .m_fixedBtns {
	position:fixed
}
.j_pluralSearchWindow.coverAb.underKeyword {
	top:93px
}
.j_notes {
	cursor:pointer
}
.j_notesCover {
	background-color:#fff;
	cursor:help;
	-webkit-opacity:.9;
	opacity:.9;
	z-index:9999
}
.j_notesCover.coverAb {
	position:fixed;
	z-index:9999
}
.j_notesCover.animation {
	top:100%;
	transition:.3s
}
.j_notesCover.animation.up {
	top:0
}
.j_imgUploader {
	position:relative
}
.j_imgUploader .j_imgUploaderContent {
	background:url(../img/common/empty.png) no-repeat;
	cursor:pointer;
	position:relative
}
.j_imgUploaderContent .delete {
	left:0;
	position:absolute;
	top:0;
	z-index:3
}
.j_imgUploader .j_imgUploaderContent input[type=file] {
	-webkit-opacity:0;
	opacity:0
}
.j_imgUploader .j_imgUploaderContent .coverAb.photo {
	background:url(../img/common/photo.png) no-repeat center center;
	background-size:100% 100%
}
#j_socialLinkContent .coveAb {
	-webkit-opacity:0;
	opacity:0
}
#j_socialLinkContent .wrap>.btnPopupClose {
	position:absolute;
	right:-10px;
	top:-10px
}
#j_socialLinkContent .wrap {
	border-radius:5px;
	margin:0 15px;
	position:relative;
	z-index:1
}
#j_socialLinkContent .header {
	font-size:18px;
	font-weight:700;
	line-height:30px;
	margin:0 0 20px;
	vertical-align:middle
}
#j_socialLinkContent .header>.title {
	float:left
}
#j_socialLinkContent .header>#j_socialLinkContentDel {
	display:inline-block;
	float:right;
	text-align:right
}
#j_socialLinkContent div>a {
	border-radius:5px;
	display:block;
	height:50px;
	width:50px
}
#j_socialLinkContent ul li.col {
	margin:0 15px 0 0
}
#j_socialLinkContent ul li.col:last-child {
	margin:0
}
#j_socialLinkContent .twitter>a {
	background:url(/img/common/twitter_200.png) no-repeat center center;
	background-color:#55acee;
	background-size:50px 50px
}
#j_socialLinkContent .facebook>a {
	background:url(/img/common/facebook_200.png) no-repeat center center;
	background-color:#3b5998;
	background-size:50px 50px
}
#j_socialLinkContent .line>a {
	background:url(/img/common/line_40.png) no-repeat center center;
	background-color:#3b5998;
	background-size:50px 50px
}
#j_socialLinkContent .mail>a {
	background:url(/img/common/mail_200.png) no-repeat center center;
	background-color:#e95f5b;
	background-size:50px 50px
}
#j_socialLinkContent #socialCover {
	background:rgba(0,0,0,.7);
	z-index:-1
}
.j_slide {
	position:relative
}
.j_slide>div {
	position:absolute;
	transition-duration:.2s
}
.j_slide>div>.content {
	position:absolute
}
#emailTrace {
	display:block;
	font-size:18px;
	font-weight:700;
	line-height:1.2;
	text-align:left
}
#mailConfTxt {
	color:#666;
	display:none;
	font-size:12px;
	line-height:1.3;
	margin-top:5px;
	text-align:left
}

.headerControl {
	background-position:top center;
	background-repeat:no-repeat;
	background-size:22px 22px;
	box-sizing:border-box;
	cursor:pointer;
	display:block;
	font-size:9px;
	letter-spacing:1px;
	padding:22px 0 0;
	position:absolute;
	text-align:center;
	top:5px;
	width:78px
}
.headerControl.btn {
	border-radius:5px;
	color:#393939;
	font-size:12px;
	line-height:25px;
	margin:5px 0;
	padding:0 7px;
	width:auto
}
.headerLeft {
	left:5px
}
.headerRight {
	right:5px
}
.headerControl.onlyIcon {
	background-size:30px 30px;
	display:inline-block;
	line-height:35px;
	padding:0;
	width:40px
}
.headerControl.onlyIcon img {
	vertical-align:middle
}
.headerControl.onlyIcon span {
	color:#5a5a5a;
	font-size:18px
}
#headerNav>.content>.title {
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:100%
}
#headerNav>.content>.title.withNav {
	line-height:15px;
	padding-bottom:21px;
	padding-top:9px;
	position:relative;
	vertical-align:top
}
#headerNav>.content>.title.withNav:after {
	border-bottom:solid 2px #85898c;
	border-right:solid 2px #85898c;
	bottom:7px;
	content:"";
	display:block;
	height:5px;
	left:calc(50% - 3.5px);
	margin-top:-4px;
	position:absolute;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	transition:.3s;
	width:5px
}
#headerNav.open>.content>.title.withNav:after {
	-webkit-transform:rotate(225deg);
	transform:rotate(225deg);
	transition:.3s
}
#headerNavContent {
	background-color:rgba(0,0,0,.7);
	bottom:0;
	box-sizing:border-box;
	left:0;
	opacity:0;
	overflow:hidden;
	position:fixed;
	right:0;
	top:45px;
	transition:opacity .3s,visibility 0s .3s;
	visibility:hidden;
	width:100%;
	z-index:4
}
#headerNavContent.open {
	opacity:1;
	transition:opacity .3s;
	visibility:visible
}
#closeHeaderNav {
	z-index:-1
}
#headerNavContent>ul {
	background-color:#fff
}
#headerNavContent>ul>li {
	border-top:1px solid #cecece;
	font-size:14px;
	font-weight:700;
	height:45px;
	line-height:35px;
	position:relative;
	transition:line-height .3s
}
#headerNavContent.open>ul>li {
	line-height:45px;
	margin:0 15px;
	transition:line-height .3s
}
#headerNavContent>ul>li:first-child {
	border-top:none
}
.topFixed {
	background-color:rgba(235,235,235,.7);
	box-sizing:border-box;
	padding:10px 15px;
	position:fixed;
	width:100%;
	z-index:5
}
.topFixed>.btnBase:first-child {
	margin-bottom:10px
}
.underFixed {
	margin-top:68px
}
#localNav {
	box-shadow:inset 0 -1px 0 #e1e1e1;
	margin:0 10px 15px
}
#localNav ul {
	box-sizing:border-box
}
#localNav .c {
	position:relative;
	text-align:center
}
#localNav .link {
	display:inline-block;
	font-size:14px;
	line-height:30px;
	padding:15px 0;
	text-align:center;
	width:100%
}
#localNav .link.default {
	color:#1c1c1c
}
#localNav .active .link:after {
	background:#00c7b6;
	bottom:0;
	content:"";
	display:block;
	height:1px;
	left:0;
	position:absolute;
	right:0
}
#localNav .c:first-child {
	margin-left:0
}
#mainContent {
	background-color:#fff;
	box-sizing:border-box;
	min-height:100vh;
	position:relative;
	z-index:4
}
main {
	box-sizing:border-box;
	-webkit-overflow-scrolling:touch;
	width:100%
}
@media only screen and (min-width:829px) {
	main {
	padding-top:80px
}
}#mainContent>.mainForm>main>:first-child {
	content:"";
	display:block
}
#mainContent>.mainForm {
	padding:0
}
#notificateBox li {
	background:url(../img/common/notificate.png) no-repeat;
	background-position:0 2px;
	background-size:15px 15px;
	font-size:13px;
	margin:10px 0 0;
	position:relative
}
#notificateBox li:first-child {
	margin:0
}
#notificateBox li>.inner {
	line-height:20px;
	padding:0 0 0 20px;
	vertical-align:middle
}
#notificateBox .inner>.title {
	font-weight:700
}
#controlList {
	min-height:45px;
	position:relative
}
#controlList .coverAb {
	cursor:pointer;
	font-size:17px;
	height:48px;
	letter-spacing:1px;
	line-height:48px
}
.validateMes {
	box-sizing:border-box;
	font-size:14px;
	padding:5px 15px;
	width:100%
}
.validateMes.success {
	background-color:#dff0d8;
	color:#468847
}
.validateMes.error {
	background-color:#fcdcdc;
	color:#fa5171;
	font-weight:700
}
.validateMes.invalid {
	background-color:#ec7063;
	color:#fff
}
.validateMes .error {
	background-color:#e95f5b;
	box-sizing:border-box;
	color:#fff;
	font-size:14px;
	padding:5px 15px;
	width:100%
}
#flashMessage {
	background-color:#e95f5b;
	box-sizing:border-box;
	color:#fff;
	font-size:14px;
	padding:5px 15px;
	width:100%
}
#menuData {
	padding:15px 10px
}
#menuData .controls {
	font-size:17px;
	margin:5px 0 0
}
.coverAb {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	z-index:2
}
.coverAb .text {
	display:inline-block;
	text-align:center;
	vertical-align:middle
}
.coverAb .text.textLeft {
	text-align:left
}
.cover {
	cursor:pointer;
	display:block;
	height:100%;
	left:0;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000
}
.cover p.text {
	margin:0 0 10px
}
.cover>.title,.coverAb>.title {
	background-color:#ebedef;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-size:17px;
	font-weight:700;
	letter-spacing:1px;
	line-height:45px;
	padding:0 15px;
	text-align:center;
	width:100%
}
.cover>.title.hasSide,.coverAb>.title.hasSide {
	padding:0 55px;
	text-align:center
}
.cover>.innerContent,.coverAb>.innerContent {
	font-size:14px;
	padding:10px 15px;
	text-align:left
}
.cover .innerContent a,.coverAb .innerContent a {
	color:#229696;
	font-weight:700;
	text-decoration:underline
}
.cover .innerContent a.cancel {
	color:#6c6c6c
}
.cover.centering {
	display:table
}
.cover.centering .centeringContent {
	background-color:inherit;
	display:table-cell;
	text-align:left;
	vertical-align:middle
}
.cover.centering .centeringContent .wrap {
	background-color:#fff;
	padding:20px
}
.coverScroll {
	cursor:pointer;
	display:block;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%;
	z-index:1000
}
#coverForNav {
	cursor:inherit;
	width:250px
}
#pageLoadingCover {
	background:rgba(254,254,254,.3)
}
.elevator {
	z-index:-1
}
.elevator.visible {
	z-index:999
}
#ajaxMes {
	background-color:#fff;
	font-size:14px;
	font-weight:700;
	height:45px;
	left:0;
	line-height:45px;
	padding:0;
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:100
}
#ajaxMes.success {
	background-color:#00c7b6;
	color:#fff
}
#ajaxMes.error {
	background-color:#e95f5b;
	color:#fff
}
.disable_title {
	background-color:#393939;
	color:#fff;
	font-size:14px;
	font-weight:700;
	padding:8px 0;
	text-align:center
}
.sp2app_banner {
	height:auto;
	width:100%
}
.orderTop {
	margin-top:60px
}
.orderFinish {
	margin:0 auto;
	width:100%
}
.orderFinish__appBanner__img {
	width:100%
}
.orderFinishWrapper {
	color:#000;
	margin:0 auto;
	margin-top:24px;
	width:92%
}
.orderFinishWrapper__title {
	font-size:16px;
	font-weight:700;
	line-height:2
}
.orderFinishWrapper__text {
	font-size:13px;
	margin-bottom:60px
}
.orderFinishTop {
	margin-top:30px
}
.orderFinishWrapperTop {
	display:table;
	width:100%
}
.orderFinishWrapperTop__icon {
	display:table-cell;
	height:auto;
	margin:30px 18px 12px 0;
	vertical-align:middle;
	width:60px
}
.orderFinishWrapperTop__title {
	color:#5a5a5a;
	display:table-cell;
	font-size:16px;
	font-weight:700;
	line-height:1.5;
	padding-top:22px;
	vertical-align:middle
}
.orderFinishWrapper__text {
	color:#5a5a5a;
	font-size:14px;
	line-height:1.5;
	margin-bottom:12px
}
.orderFinishWrapper__app {
	background:#5a5a5a;
	border-radius:5px;
	box-sizing:border-box;
	color:#fff;
	display:block;
	font-size:14px;
	font-weight:700;
	margin-bottom:12px;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	width:100%
}
.orderFinishWrapper__returnBtn {
	background:#00c7b6;
	border-radius:5px;
	box-sizing:border-box;
	color:#fff;
	display:block;
	font-size:14px;
	font-weight:700;
	margin-bottom:24px;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	width:100%
}
.escrowForm__intro {
	margin:0 0 20px
}
.escrowForm__statusTxt {
	margin-bottom:20px
}
.escrowForm__statusTxt .notice {
	color:#e95f5b
}
.escrowFormBlock {
	margin-bottom:40px
}
.transaction_blank {
	margin-bottom:20px
}
.escrowFormBlock .transactionBtn .btnBase {
	width:100%
}
.escrowFormBlock__tilte {
	border-bottom:2px solid #ccc;
	font-size:12px;
	font-weight:700;
	margin-bottom:20px;
	padding-bottom:5px
}
.l_simpleForm .controlGroup.paymethodList>.controls {
	margin:-20px 0 30px
}
.paymethodList .noItemSubForm {
	padding:10px;
	text-align:left
}
.l_simpleForm .controlGroup .toggleContent.subInput.boxStyle.noItemSubForm.noElement {
	border:none;
	padding:0
}
.noItemSubForm .sub_form {
	padding:20px 0 0
}
.noItemSubForm dl {
	margin-bottom:10px
}
.noItemSubForm .field {
	height:40px
}
.noItemSubForm .field.field-s {
	width:50%
}
.postpayTerm {
	margin-bottom:20px
}
.postpayTerm .postpayTerm__check {
	display:inline-block;
	width:auto
}
.postpayTerm label {
	display:inline-block;
	padding-top:3px;
	width:auto
}
.futurePaymentCheck__label {
	border-radius:3px;
	color:#fff;
	display:inline-block;
	font-size:11px;
	height:20px;
	line-height:20px;
	margin-left:10px;
	padding:0 5px
}
.futurePaymentCheck__label.label--new {
	background-color:#e13748;
	display:none
}
.futurePaymentCheck__label.label--underExam {
	background-color:#666
}
.futurePaymentCheck__label.label--rejected {
	background-color:#e95f5b
}
.futurePaymentCheck__label.label--done {
	display:none
}
.noItemSubForm dt {
	font-weight:700
}
.uploadImageWrapper {
	position:relative
}
.uploadImageWrapper .delimg {
	display:none;
	position:absolute;
	right:-5px;
	top:-5px
}
.uploadImage .btnSelectImage {
	display:inline-block;
	vertical-align:middle
}
.uploadImage .btnSelectTxt {
	display:inline-block;
	vertical-align:middle
}
.uploadImage__prev img {
	width:100%
}
.coverFixed {
	background-color:rgba(255,255,255,.5);
	bottom:0;
	left:0;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
	position:fixed;
	right:0;
	top:0;
	z-index:100
}
.coverFixed--centering {
	display:table;
	height:100%;
	width:100%
}
.coverFixed--centering>.coverFixed__wrap {
	display:table-cell;
	padding:10px;
	vertical-align:middle
}
.popupAnnounce {
	-webkit-animation:popupAnnounceAnimate .2s ease .2s 1;
	animation:popupAnnounceAnimate .2s ease .2s 1;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 1px 5px rgba(100,100,100,.3);
	margin:50px 5px 5px;
	overflow:hidden;
	position:relative
}
.popupAnnounce:before {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100px;
	content:"";
	display:block;
	height:200px;
	width:100%
}
.popupAnnounce--caveat:before {
	background-color:#edcf21;
	background-image:url(/img/common/ui/icon_caveat.png)
}
.popupAnnounce__content {
	padding:20px
}
.popupAnnounce__close {
	cursor:pointer;
	padding:10px;
	position:absolute;
	right:0;
	top:0
}
.popupAnnounce__title {
	font-size:21px;
	line-height:1.8em;
	padding-bottom:30px;
	text-align:center
}
.popupAnnounce__text {
	line-height:1.8em;
	padding-bottom:30px
}
a.popupAnnounce__link {
	text-decoration:underline
}
.popupAnnounce__btnArea {
	text-align:center
}
.popupAnnounce__btnArea .btnBase {
	line-height:30px;
	width:320px
}
@-webkit-keyframes popupAnnounceAnimate {
	0% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
40% {
	-webkit-transform:scale(.98);
	transform:scale(.98)
}
70% {
	-webkit-transform:scale(.98);
	transform:scale(.98)
}
100% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
}@-webkit-keyframes popupAnnounce {
	0% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
40% {
	-webkit-transform:scale(.98);
	transform:scale(.98)
}
70% {
	-webkit-transform:scale(.98);
	transform:scale(.98)
}
100% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
}@keyframes popupAnnounce {
	0% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
40% {
	-webkit-transform:scale(.98);
	transform:scale(.98)
}
70% {
	-webkit-transform:scale(.98);
	transform:scale(.98)
}
100% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
}.payment__imgs {
	margin-bottom:10px;
	text-align:left
}
.payment__imgs>.hasSubLogo:first-child {
	margin-right:16px;
	vertical-align:middle
}
.payment__imgs>img[src].subPaymentLogo {
	vertical-align:middle;
	margin-right:0
}
.accordion01 {
	border-bottom:1px solid #cfcfcf;
	border-top:1px solid #cfcfcf
}
.accordion01__parent+.accordion01__parent {
	border-top:1px solid #cfcfcf
}
.accordion01__trigger {
	font-size:14px;
	line-height:1.5;
	padding:12px 10px
}
.is_open .accordion01__trigger {
	background:#90d4c5;
	color:#fff
}
.accordion01__content {
	background:#f5f5f5;
	display:none;
	font-size:14px;
	line-height:1.8;
	padding:12px 10px
}
.is_open .accordion01__content {
	display:block
}
.bankSelectBtn {
	margin:0 15px
}
#p_shopAddressee .overseaShippingInfo {
	color:#f87e7e;
	display:none;
	margin:15px 0 0
}
#p_shopAddressee .overseaShippingInfo__wrap {
	display:table
}
#p_shopAddressee .overseaShippingInfo__icon {
	display:table-cell
}
#p_shopAddressee .overseaShippingInfo__iconImg {
	font-size:30px;
	vertical-align:top
}
#p_shopAddressee .overseaShippingInfo__text {
	display:table-cell;
	font-size:12px;
	padding:0 0 0 15px;
	vertical-align:middle
}
#p_shopAddressee .overseaShippingInfo__link {
	color:#f87e7e;
	text-decoration:underline
}
.shopCartPreorderDate {
	-webkit-align-items:center;
	align-items:center;
	clear:both;
	display:-webkit-flex;
	display:flex;
	margin:16px 0 0
}
.shopCartPreorderDate__label {
	background:#a0a9b5;
	border-radius:2px;
	color:#fff;
	font-size:12px;
	font-weight:700;
	line-height:22px;
	text-align:center;
	padding:0 8px;
	white-space:nowrap
}
.shopCartPreorderDate__label+.shopCartPreorderDate__text {
	padding-left:6px
}
.shopCartPreorderDate__text {
	font-size:12px;
	line-height:1.3;
	word-break:break-word
}