body {
    background-image: none;
    background-color: #fcfcfc;
  }
  .item-ttl,.item-desc,
  .itemTitle, .item-detail .purchase .itemDescription> p, .item-detail .purchase #itemSelect .purchaseElement label,
  #about .about-inner p, #about .about-inner .social .inner-conts .follow,
  .blog_title h2, .blog_body p, .blog_body, .copyright, .review01, .inquirySection p, .inquirySection dl dt, #contact .inquirySection form,
  .childCategoryList01_child,
  .childCategoryList01_link,
  .mainHeaderNavColor,
  .appsItemCategoryTag_lowerLink a,
  a {
    color: #000000 !important;
  }
  .index .item .itemDetail,
  #pickup .item-price,
  #info .col-right ul li .date,
  .item-detail .purchase .itemPrice h3,
  .item-detail .purchase #itemAttention,
  .item-detail .purchase .report,
  .breadcrumb__notlink,
  .relatedItems ul li .itemPrice,
  .blog_publish .publish_date{
    color: #999999;
  }
  .categoryTitle01,
  .sec-ttl, #about h2, #contact .inquirySection h1{
    color: #000000;
  }
  #pickup .col-left .badge,
  #pickup .item-btn a,
  .item-detail .purchase #purchaseForm .button,
  .item-detail .purchase #purchaseForm .purchaseButton__btn,
  #contact  .inquirySection form input[type=submit] ,
  #contact #inquiryCompleteSection a,
  .main #about .read_more a,
  #x_salesPeriodModalSubmit {
    color: #ffffff!important;
    background-color: #000000!important;
  }
  .menu-trigger span,
  .hovline a::after,
  .bar,
  #category-menu .category-list ul li:before,
  .sb-slidebar .appsItemCategoryTag_child .over-text:before {
    background-color: #000000;
  }
  .tongimg{ display: block; }
  .tongimg img{ display: block; width: 100%; }
  #shopHeader #baseMenu{display:none;}
  #shopHeader nav #baseMenu{display:block;}
  @media only screen and (max-width: 768px){
    #shopHeader #baseMenu{display:inline-block;position:absolute!important;left:-50px;right:auto;top:18px;}
  }
  #gotop{
    display: none;
  }
  @media only screen and (max-width: 880px){
    #info .sec-ttl .bar {
      margin: 10px auto !important;
    }
    .appsItemCategoryTag_child .appsItemCategoryTag_lowerchild{
      display: block !important;
    }
    #category-menu .category-list .appsItemCategoryTag_lowerchild li:before {
      display: none;
    }
    #category-menu .category-list .appsItemCategoryTag_lowerchild li{
      margin-bottom: 0;
    }
    #gotop{
        display: block;
        position: fixed;
        bottom: 20px;
        width: 0px;
        right: 10px;
        z-index: 99999999999;
    }
  }