.bx-viewport {
    overflow: visible!important
}

.label_image {
    position: absolute!important;
    top: -12px;
    left: -12px;
    height: 70px;
    width: 70px;
    z-index: 10;
    background: 0 0!important
}

.item_lists .image_container {
    overflow: visible!important
}

ul.bxslider>li>.img_box {
    position: relative!important
}

.img_box>a {
    position: relative
}

.item-container {
    overflow: visible!important
}

.img-block {
    position: relative
}

.img-block>.label_image {
    position: absolute
}

.item-box .img-block {
    overflow: visible
}

.item-box {
    overflow: visible
}

body.tempTop section.item_list {
    overflow: visible
}

#products ul.item_top li.product_list,#products ul.item_top li.product_list a {
    overflow: visible!important
}

#products ul.item_lists li.product_list,#products ul.item_lists li.product_list a {
    overflow: visible!important
}

.item_lists li {
    overflow: visible!important
}

a>.img_box {
    position: relative
}

.item_box section .img_box {
    overflow: visible
}

li.column>a>.image_container {
    position: relative
}

.product_list li {
    overflow: visible!important
}

.product_list .image_container {
    overflow: visible!important
}

body#shopTopPage .item .itemImg {
    overflow: visible!important
}

.item.part>.itemImg {
    position: relative
}

.itemImg.boxLeft {
    position: relative
}